.chat-box{
  width: 300px;
  position: fixed;
  right:50px;
  bottom:-310px;
  border:1px solid #ecc;
}

@media screen and (max-width: 545px) {
  .chat-box {
    right: 0px;
  }
}

.head-chat {
  background-color: #ecc;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.head-chat .none{
  visibility: hidden;
  opacity: 0;
}

.head-chat p {
  color:#fff;
  padding: 10px 0px;
  font-family: 'PT Sans', sans-serif;
}

.head-chat .close {
  width: 15px;
}

.conv-chat {
  height: 250px;
  background-color: #F3F3F3;
  display: flex;
  padding: 15px;
}

.conv-chat img {
  width:50px;
  height:50px;
  margin-right: 10px;
}

.conv-chat div p{
  background-color: #ecc1add6;
  padding: 10px;
  color:#fff;
  border-radius: 5px;
  text-align: left;
  margin-bottom: 4px;
}

.conv-chat div span{
  color:#B7BCC5;
}

.send-message {
  display: flex;
  align-items: center;
  background: white;
}

.send-message input {
  width: 300px;
  box-sizing: border-box;
  border: none;
  height: 30px;
}

.send-message input::placeholder {
  padding-left:10px;
}

.send-message .send {
  width: 19px;
  margin-right: 10px;
}
