/*********
  HEADER
***********/


header {
  display: flex;
  align-items: center;
  padding: 40px 20px 60px;
}

header .contact,
header .achats {
  width: 25%;
  font-family: 'PT Sans', sans-serif;
}

header .logo {
  width: 50%;
}

header .logonet{
  display: flex;
  justify-content: space-around;
  margin-top: 19px;
  margin-left: 12px;
}

header .contact {
  display: flex;
  flex-direction: column;
  width: 400px;
  align-items: center;
  font-family: 'PT Sans', sans-serif;
}

header .call {
  margin-left: 20px;
}

header .contact a  {
  display: block;
  margin-right: 0px;
  font-family: 'PT Sans', sans-serif;
}

header .contact  img {
  margin-left: 10px;
  width: 32px;
}

header .contact a p,
header .achats a p {
  color: #AA7258;
  font-size: 16px;
  font-family: 'PT Sans', sans-serif;
}


header .contact a p:hover,
header .achats a p:hover {
  color: #FF9900;
}


header .logo img {
  width: 70%;
  margin: 0 auto;
  display: block;
}

header .achats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header .achats .search img {
  width: 25px;
}


.account{
  border: 2px solid #AA7258;
  border-radius: 35px;
  padding: 5px 10px;
}




/**********
  NAV
*********/

nav {
  background-color: #FFFFFF;
  border-top: 1px solid #AA7258;
  border-bottom: 1px solid #AA7258;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
}

nav .item {
  padding: 0 20px;
  position: relative;
}

nav p {
  display: block;
  cursor: pointer;
  position: relative;
  padding: 5px 0;
  font-size: 16px;
  text-transform: uppercase;
  transition: all 0.1s ease-in;
  background-color: #FFFFFF;
  color: #AA7258;
  will-change: auto;
  font-family: 'PT Sans', sans-serif;
}

nav p:before {
  content:'';
  position: absolute;
  background-image: url('../images/arrow.png');
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 30px;
  right: -28px;
  top: 50%;
  transform: translateY(-50%);
}

nav p:hover {
  background-color: white;
  color: #FF9900;
}

nav ul li a {
  display: block;
  color: #AA7258;
  font-size: 16px;
  text-transform: uppercase;
  margin: 8px 0;
  line-height: 1.2;
  font-family: 'PT Sans', sans-serif;
}

nav ul li a:hover {
  color: #FF9900;
}

nav ul {
  display: none;
  position: absolute;
  background: white;
  opacity: 0.9;
  width: 100%;
  padding: 0 20px;
  left: 0;
}

nav .item:hover ul {
  display: block;
}

/***************

MAIN

****************/

main {
  display: flex;
  justify-content: flex-start space-around;
  align-items: flex-start;
  height:515px;
  overflow:hidden;
}

main .explications{
  width: 50%;
  background-color: #ca959563;
  color: #040404c9;
  padding: 44px;
  text-align: justify;
  font-family: 'PT Sans', sans-serif;
}
main .explications div{
  display: flex;
  justify-content: flex-start space-around;
  flex-direction: wrap;
  border-bottom: 1px solid white;

}

main .explications .crea img{
  width: 130px;
  height: 120px;
  margin-right: 20px;
  margin-bottom: 20px;
}

main .explications p{
  padding: 15px;
  line-height: 150%;
}
main .explications .crea p{
  font-size: 17px;
  padding : 8px;
  line-height: 150%;
}

main .presentation{
  width: 50%;
  height: 550px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  font-family: 'PT Sans', sans-serif;
}

article.presentation img{
  height: 550px;
  position: absolute;
}

main  article.presentation h1{
  border: 1px solid black;
  border-radius: 20px;
  width: 258px;
  color: black;
  font-size:23px;
  padding: 43px;
  background-color: white;
  opacity: 0.5;
}

 .titre {
  position: relative;
  z-index: 100;
  width:60%;
  background-color:#ffffff94;
  text-align:center;
  border-radius: 20px;
}





/***********

FOOTER

***********/

footer {
  background-color: #caa1a15c;
  margin-top: 50px;
}

footer .footer {
   display: flex;
   justify-content: center space-around;
   align-items: center;
   margin-left: 140px;
   margin-right: 140px;
}

footer .footer section {
  padding: 30px;
  width: 33%;
}

footer span {
  font-size: 21px;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 67px;
}

footer .Partenaires a {
  display: block;
  text-decoration: none;
  text-transform: none;
  line-height: 44px;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
}


footer .infos a {
  text-decoration: none;
  display: block;
  text-transform: none;
  font-size: 14px;
  color: black;
  text-transform: uppercase;
  line-height: 44px;
}



footer .newsletter p {
  display: flex;
  text-align : justify;
  line-height: 20px;
  margin-bottom: 25px;
  margin-top: 20px;
}

footer .newsletter input{
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;

}

footer .Partenaires a:hover {
  text-decoration: underline;

}
footer .infos a:hover {
  text-decoration: underline;

}
footer .newsletter h4:hover {
  text-decoration: underline;
}
