/*********

ALERT

*********/
.alert {
    color: white;
    margin-bottom: 15px;
    width: 400px;
    height: 350px;
    padding: 30px;
    background-color: #d0b2b2e3;
    border-radius: 4px;
    position: fixed;
    z-index: 10000;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}



.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.poppin_content{
width: 400px;
height: 350px;
padding: 30px;
background-color: #aa7258;
border-radius: 4px;
position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
}

.contact{
text-transform: uppercase;
text-align: center;
color: white;
font-size: 14px;
border-bottom: 1px solid white;
padding-bottom: 30px;

}

p{
  font-size: 17px;
  text-align: center;
}
#first{
  margin-bottom: 20px;
  margin-left: 45;
  float: left;
  border: none;

}

.clearboth{
  clear: both;
}

#second{
  margin-bottom: 20px;
  margin-left: 45;
  float: left;
  border: none;
}

#button{
margin-top: 35;
margin-left: 145;
border-radius: 90px;
background-color: white;
border: none;
color:#aa7258 ;
padding: 15px 40px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 12px;
}

#button:hover{
  color: black;
}
