/*********

ALERT

*********/
.alert {
    color: white;
    margin-bottom: 15px;
    width: 400px;
    height: 350px;
    padding: 30px;
    background-color: #aa7258;
    border-radius: 4px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}



.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.poppin_content{
width: 400px;
height: 350px;
padding: 30px;
background-color: #aa7258;
border-radius: 4px;
position: fixed;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
}

.contact{
text-transform: uppercase;
text-align: center;
color: white;
font-size: 14px;
border-bottom: 1px solid white;
padding-bottom: 30px;

}

p{
  font-size: 17px;
  text-align: center;
}
#first{
  margin-bottom: 20px;
  margin-left: 45;
  float: left;
  border: none;

}

.clearboth{
  clear: both;
}

#second{
  margin-bottom: 20px;
  margin-left: 45;
  float: left;
  border: none;
}

#button{
margin-top: 35;
margin-left: 145;
border-radius: 90px;
background-color: white;
border: none;
color:#aa7258 ;
padding: 15px 40px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 12px;
}

#button:hover{
  color: black;
}

/*********

INTRO

*******/
.img-cover {
  background-image: url('../images/bebe.png');
  background-size: cover;
  background-repeat: no-repeat;
}

section .texte {
  max-width: 390px;
  padding: 50px;
}

section .texte h2 {
  line-height: 35px;
  letter-spacing: 3px;
  font-size: 32px;
  font-family: 'PT Sans', sans-serif;
}

section .texte p {
  margin-top: 10px;
  line-height: 25px;
  color: #AA7258;
  font-family: 'PT Sans', sans-serif;
}

section .texte a {
  float: right;
  border: 2px solid #AA7258;
  border-radius: 35px;
  padding: 5px 10px;
  color: black;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
}

section .texte a:hover {
  color: #AA7258;
}

section .intro_2 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  padding-bottom: 10px;
}

section .intro_2 h2 {
  letter-spacing: 5px;
  font-size: 25px;
  margin-right: 10px;
  font-family: 'PT Sans', sans-serif;
}

section .intro_2 img {
  width: 40px;
  height: 34px;
}

.newCollection {
  text-align: center;
}

.newCollection h1 {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #AA7258;
  font-size: 30px;
  font-family: 'PT Sans', sans-serif;
}

.carousel-newCollection {
  max-width: 460px;
  margin: 0 auto;
}


@media screen and (max-width: 545px) {
  section .texte h2 {
    line-height: 1;
    font-size: 24px;
  }

  section .texte {
    padding: 25px;
  }

  section .texte p {
    line-height: 1.2;
    font-size: 16px;
  }

  section .texte a {
    margin-top: 10px;
  }

  section .intro_2 {
    margin-top: 50px;
  }

  section .intro_2 h2{
    letter-spacing: 3px;
    font-size: 15px;
  }

  section .intro_2 img {
    width: 20px;
    height: 20px;
  }

  .newCollection h1 {
    font-size: 20px;
  }
}
